body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: 'Noto Serif JP', serif;
  font-size: 2rem;
  font-weight: normal;
  color: #66BFBF;
}

address {
  font-family: 'Source Serif Pro', serif;
}

header {
  width: 50%;
  padding-right: 2px;
  padding-bottom: 2px;
  margin: auto;
  text-align: center;
  background-color: DarkSalmon;
}

footer {
  width: 50%;
  padding-right: 2px;
  padding-bottom: 2px;
  margin: auto;
  text-align: center;
  background-color: DarkSalmon;
  color: white;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: blue;
}

.text {
  font-family: 'Patrick Hand', cursive;
  font-size: large;
  color: #11999E;
}

.cloud_image_1 {
  position: relative;
  top: 10rem;
}

.cloud_image_2 {
  position: relative;
  top: 0.16rem;
  float: right;
}

.mountain_image {
  width: 100%;
  height: auto;
}

.main-container {
  margin: auto;
  width: 50%;
  border-width: thin;
  border-color: DarkSalmon;
  border-left-style: dotted;
  border-right-style: dotted;
}

.top-container {}

.middle-container {
  text-align: center;
}

.bottom-container {}
